body {
    background-color: rgb(177, 238, 228);
}

header {
    background-color: beige;
    width: 100%;
    height: 100px;
}


/* .header_content {
    background-color: blue;
    height: 50%;
    text-align: center;
    overflow: hidden;
}

.header_logo {
    background-color: cornflowerblue;
    width: 30%;
    height: 100%;
    text-align: center;
    float: left;
    color: aliceblue;
}

.header_banner {
    background-color: chocolate;
    width: 70%;
    height: 100%;
    text-align: center;
    float: right;
    color: aliceblue;
}

.header_bar {
    background-color: brown;
    height: 50%;
    text-align: center;
    color: aliceblue;
} */

.block {
    background-color: chartreuse;
    height: 300px;
    width: 100%;
    text-align: center;
    color: chocolate;
    overflow: hidden;
}


/* .left {
    background-color: antiquewhite;
    width: 25%;
    height: 100%;
    text-align: center;
    color: chocolate;
    float: left;
}

.center {
    background-color: aqua;
    width: 50%;
    height: 100%;
    text-align: center;
    color: chocolate;
    float: left;
}


.top_center {
    background-color: azure;
    width: 100%;
    height: 30%;
    text-align: center;
}

.mid_center {
    background-color: beige;
    width: 100%;
    height: 40%;
    text-align: center;
    overflow: hidden;
}

.mid_center_left {
    background-color: darkblue;
    width: 50%;
    height: 100%;
    text-align: center;
    float: left;
}

.mid_center_right {
    background-color: darkgoldenrod;
    width: 50%;
    height: 100%;
    text-align: center;
    float: right;
}

.bottom_center {
    background-color: bisque;
    width: 100%;
    height: 30%;
    text-align: center;
} 

.right {
    background-color: aquamarine;
    width: 25%;
    height: 100%;
    text-align: center;
    color: chocolate;
    float: right;
} */

footer {
    background-color: rebeccapurple;
    height: 100px;
    width: 100%;
    text-align: center;
    color: aqua;
}